@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
         url('intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
         url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

* {
    font-family: 'Intro';
    margin: 0;
}

#btn-menu {
    display: none;
}
#basquet {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
}
header p {
    color: dimgray;
}
header label {
    display: none;
    width: 40px;
    height: 40px;
    padding: 10px;
}
header label:hover {
    cursor: pointer;
    background-color: rgba(247, 123, 41, 0.925);
}
label img {
    height: 40px;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li:hover {
    background-color: rgba(247, 123, 41, 0.925);
}
.menu li a {
    display: block;
    padding: 15px 20px;
    color: dimgray;
    text-decoration: none;
}

@media (max-width: 655px) {
    header label {
        display: inline-block;
    }
    .menu {
        position: absolute;
        width: 60%;
        right: -400px;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid rgba(247, 123, 41, 0.925);
        background-color: white;
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
        right: 0;
    }
}

.form {
    display: grid;
    grid-template-columns: 50% 50%;
}
.form img {
    width: 100%;
}
form {
    display: grid;
    grid-template-rows: auto auto auto;
    background: linear-gradient(rgba(181, 255, 45, 0.849), rgba(54, 233, 30, 0.822));
}
form p {
    grid-row: 1 / 2;
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
form input {
    display: list-item;
    text-align: center;
    width: 225px;
    height: 40px;
    border: none;
    margin-bottom: 5px;
    /* margin-left: 70px; */
    font-size: larger;
}
form label {
    background-color: white;
    height: 42px;
}
.where {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
}
.what {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
}
#submit {
    grid-row: 4 / 5;
    display: flex;
    /* align-content: center; */
    color: white;
    border: none;
    margin: 10px;
    background-color: rgba(247, 123, 41, 0.925);
    width: 150px;
    border-radius: 10%;
}

.how-works {
    background-color: aquamarine;
    /* display: flex;
    width: 500px; */
}
.how-works h1 {
    font-size: 40px;
    font-weight: 900;
    color: rgba(247, 123, 41, 0.925);
    text-align: center;
}
.how-works ul {
    display: flex;
}

.how-works li {
    display: flex;
    list-style: none;
    padding: 10px;
    gap: 20px;

}
.how-works img {
    height: 80px;
    justify-content: center;
    /* align-items: center; */
    /* position: relative; */
    
}

.how-works h2 {
    font-size: 20px;
    margin: 0;
}
.how-works p {
    color: dimgray;
    font-size: small;
}

.features {
    background: linear-gradient(rgba(247, 115, 28, 0.795), rgba(245, 27, 75, 0.849));
}
.features ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px;
}
.features li {
    list-style: none;
    justify-content: center;

}
.features img {
    height: 70px;
    padding: 23px;
    background-color: white;
    border-radius: 50%;
}


.cuisine {
    background-color: coral;
    /* width: 500px; */
}

.banner {
    /* width: 500px; */
    background-color: grey;
    color: white;
    padding: 50px;
}

.restaurant {
    /* width: 500px; */
    background-color: blueviolet;
}

.about-us {
    display: flex;
    /* width: 500px; */
    background-color: darkolivegreen;
}
.about-us table {
    border-collapse: separate;
}
.about-us th td {
    text-align: left;
}

footer {
    width: 100%;
    background-color: rgba(247, 123, 41, 0.925);
    align-content: space-between;
}
footer section {
    display: inline-flex;
    float: right;
}
footer section p {
    margin-left: 20px;
}
    
    